<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
    "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
    <bean id="t" class="beans.Test" init-method="myInit" destroy-method="myDestroy">
        <property name="drivername" value="MySQL.Driver"></property>
        <property name="url" value="localhost:3306/database"></property>
        <property name="username" value="root"></property>
        <property name="password" value="root"></property>
    </bean>
</beans>