/BenLifeCycle_Programatic/nbproject/private/
/BenLifeCycle_Programatic/build/
/BeanLifeCycle_XMLFile/nbproject/private/
/BeanLifeCycle_XMLFile/build/
/BeanLifeCycle_Annotation/nbproject/private/
/BeanLifeCycle_Annotation/build/
/BeanLifeCycle_MultipleBean_XMLFile/nbproject/private/
/BeanLifeCycle_MultipleBean_XMLFile/build/